<template name="combat">

	<div id="combatmode" class="top-line" >
		<div id="enableBrawling" class="combatChoice {{#if SessionEquals 'combatmode' 'brawling'}}active{{/if}}" data-type="brawling">{{i18n 'combat' 'brawling'}}
		</div>
		<div id="enableDungeon" class="combatChoice {{#if SessionEquals 'combatmode' 'dungeon'}}active{{/if}}" data-type="dungeon">{{i18n 'combat' 'dungeon'}}
		</div>
	</div>

	<div class="top-line">
		<div id="nextMonster" class="unselectable">{{i18n 'combat' 'nextselect'}}</div>
		<div id="monsterinfo">
		{{i18n 'combat' 'lv'}} 
		<span class="green-text">{{SessionAmplify 'selectedMonsterLevel' format="number"}}</span> 
		{{#if SessionEquals 'combatmode' 'brawling'}}
			{{monsterName}}
		{{else}}
			{{i18n 'combat' 'dungeon'}}
		{{/if}}
		</div>
		<div id="prevMonster" class="unselectable">{{i18n 'combat' 'prevselect'}}</div>
	</div>

	<div id="seeking" class="unselectable"> 
		{{i18n 'combat' 'level'}}
		<input id="seekMonsterLvl" type="number" value="{{SessionAmplify 'hero.level'}}">
		<div id="seekMonster" class="unselectable">
			{{#if SessionEquals 'combatmode' 'brawling'}}
				{{i18n 'combat' 'getmonster'}}
			{{else}}
				{{i18n 'combat' 'getdungeon'}}
			{{/if}}
		</div>
	</div>


	{{#if SessionEquals 'combatmode' 'brawling'}}
		{{> brawling}}
	{{else}}
		{{> dungeon}}
	{{/if}}

</template>

