<template name="contact">
	<div class="top-line contact">
		<div id="contact-top">
			{{i18n 'contact' 'toptext'}}
		</div>
		<div id="contact-descr">
			{{i18n 'contact' 'description'}}
		</div>
	</div>
	<div id="contact">
		
		{{#if Session 'contact.hasError'}}
			<div id="contact-error">
				{{#each Session 'contact.errors'}}
					<div class="contact-error-item">{{i18n 'contact' .}}</div>
				{{/each}}
			</div>
		{{/if}}

		{{#each Session 'contact.success'}}
			<div class="contact-success-item"> {{i18n 'contact' .}}</div>
		{{/each}}

		<div id="contact-form">
			
			
			<div class="contact-input-item">
				<div class="contact-input-item-label">
					{{i18n 'contact' 'name'}}
				</div>
				<div class="contact-input-item-input">
					<input id="contact-name" type="text"/>
				</div>
			</div>
			<div class="contact-input-item">
				<div class="contact-input-item-label">
					{{i18n 'contact' 'contact'}}
				</div>
				<div class="contact-input-item-input">
					<input id="contact-contact" type="text"/>
				</div>
			</div>
			<div class="contact-input-item">
				<div class="contact-input-item-label">
					{{i18n 'contact' 'title'}}
				</div>
				<div class="contact-input-item-input">
					<input id="contact-title" type="text"/>
				</div>
			</div>
			<div class="contact-input-item">
				<div class="contact-input-item-label">
					{{i18n 'contact' 'text'}}
				</div>
				<div class="contact-input-item-input">
					<textarea id="contact-text"></textarea>
				</div>
			</div>
			<button id="contact-submit">{{i18n 'contact' 'send'}}</button>
		</div>
	</div>
</template>