<template name="dungeon">

	{{#if Session 'monster.id'}}
		{{> monster}}
	{{else}}
		<div id="dungeon" class="unselectable">
			<div id="dungeonTilesWrapper">
				<table id="dungeonTilesTable">
					{{#each Session 'dungeonTiles'}}
						<tr>
							{{#each .}}
								{{> dungeonTile}}
							{{/each}}
						</tr>
					{{/each}}
				</table>
				{{> heroTile}}
			</div>
		</div>
	{{/if}}
</template>

<template name="dungeonTile">
	<td class="dungeonTile tile-{{type}} tile-x-{{x}} tile-y-{{y}}" style="{{additionalCss}}">
	 	
	</td>
</template>

<template name="heroTile">
	<div id="heroTile">
		<img width="32" height="32" src="{{playerImg player.gender}}" />
	</div>
</template>