<template name="inventar">
	<div id="inventarFilter" class="top-line" >
		<div class="inventarFilterChoice {{#if SessionEquals 'inventarFilter' 'weapon'}}active{{/if}}" data-type="weapon">
			{{i18n 'itemtypes' 'weapon'}}
		</div>
		<div class="inventarFilterChoice {{#if SessionEquals 'inventarFilter' 'armour'}}active{{/if}}" data-type="armour">
			{{i18n 'itemtypes' 'armour'}}
		</div>
		<div class="inventarFilterChoice {{#if SessionEquals 'inventarFilter' 'accessory'}}active{{/if}}" data-type="accessory">
			{{i18n 'itemtypes' 'accessory'}}
		</div>
	</div>

	<div id="equipmentList">
		{{#if equipped}}
			<div class="shopItem {{equipped.type}} inventarEquipped">
				<div class="itemName">
					{{generateItemName equipped}}
				</div>

				<div class="itemStats">
					{{#each obj2array equipped.effects}}
						<div class="itemStat">
							{{i18n 'effects' key value=value formatHash='value|number'}}
						</div>
					{{/each}}
				</div>
			</div>
		{{/if}}
	</div>

	<hr class="inventarline"/>

	<div id="inventarList">
		{{#each inventarList}}
			<div class="shopItem {{type}}">
				<div class="itemName">
					{{generateItemName .}}
				</div>

				<div class="itemStats">
					{{#each obj2array effects}}
						<div class="itemStat">
							{{i18n 'effects' key value=value formatHash='value|number'}}
						</div>
					{{/each}}
				</div>

				<div class="itemStatChanges">
					{{{itemDamageChange . format="colornumber"}}}
					{{i18n 'item' 'damage'}} | 
					{{{itemEhpChange . format="colornumber"}}} 
					{{i18n 'item' 'ehp'}}
				</div>

				<button class="equipItem">
					{{i18n 'inventar' 'equip'}}
				</button>

				<button class="sellItem">
					{{i18n 'inventar' 'sell' cost=cost formatHash='cost|number'}}
				</button>
			</div>
		{{/each}}

		{{#if Session 'shop.comparetype'}}
			{{> compareitem}}
		{{/if}}
	</div>
</template>