<head>
	<script src='https://ssl.kongcdn.com/javascripts/kongregate_api.js'></script>
</head>

<body>
	{{> main}}
</body>

<template name="main">
	{{>floatingMessages}}
	
	<div id="wrapper"> 
		<div class="menu header">
			{{> menu}}
		</div>

		<div id="sidebar">
			{{> sidebar}}
		</div>

		<div id="content"> 
			{{#if pageEquals 'combat'}}
				{{> combat}}
			{{/if}}

			{{#if pageEquals 'tavern'}}
				{{> tavern}}
			{{/if}}

			{{#if pageEquals 'shop'}}
				{{> shop}}
			{{/if}}

			{{#if pageEquals 'inventar'}}
				{{> inventar}}
			{{/if}}

			{{#if pageEquals 'contact'}}
				{{> contact}}
			{{/if}}

			{{#if pageEquals 'settings'}}
				{{> settings}}
			{{/if}}

			{{#if pageEquals 'cheat'}}
				{{> cheat}}
			{{/if}}
		</div>

		<div class="menu footer">
			{{> footer}}
		</div>
	</div>

	{{>message}}
</template>