<template name="menu">
	<a class="menu-entry header {{#if SessionAmplifyEquals 'page' 'combat'}}active{{/if}}" data-page="combat" href="/">
		{{i18n 'menu' 'combat'}}
	</a>
	<a class="menu-entry header {{#if SessionAmplifyEquals 'page' 'shop'}}active{{/if}}" data-page="shop" href="/">
		{{i18n 'menu' 'shop'}}{{#if Session 'newShopStock'}}*{{/if}}
	</a>	
	<a class="menu-entry header {{#if SessionAmplifyEquals 'page' 'inventar'}}active{{/if}}" data-page="inventar" href="/">
		{{i18n 'menu' 'inventar'}}
	</a>
	<a class="menu-entry header {{#if SessionAmplifyEquals 'page' 'tavern'}}active{{/if}}" data-page="tavern" href="/">
		{{i18n 'menu' 'tavern'}}{{#if SessionAmplify 'quest.success'}}*{{/if}}
	</a>
</template>

<template name="footer">
	<a id="contact-menu" class="menu-entry footer {{#if SessionAmplifyEquals 'page' 'contact'}}active{{/if}}" data-page="contact" href="/">
		{{i18n 'footer' 'contact'}}
	</a>

	<a class="menu-entry footer {{#if SessionAmplifyEquals 'page' 'settings'}}active{{/if}}" data-page="settings" href="/">
		{{i18n 'footer' 'settings'}}
	</a>
</template>