<template name="brawling">
	{{> monster}}
</template>

<template name="monster">
	<div id="playerMonsterWrapper">
		<div id="player" class="avatar" style="
			background-image: url({{playerImg player.gender}});
		">
			<div class="avatar-name">
				{{i18n 'monster' 'lv'}} {{SessionAmplify 'hero.level' format="number"}} {{player.name}}
			</div>
			
			<div class="barContainer">
				<div class="bar playerHpBar" style="width: 100%;"></div>

				{{i18n 'monster' 'hp'}} {{Session 'hero.hpCurrent' format="number"}} / {{Session 'hero.hpMax' format="number"}}
			</div>
		</div>

		<div id="monster" class="unselectable avatar" style="
			background-image: url('/monsters/{{Session 'monster.id'}}.png');
		">
			<div class="avatar-name">
				{{i18n 'monster' 'lv'}} {{Session 'monster.level' format="number"}} {{monsterName}}
			</div>
			
			<div class="barContainer">
				<div class="bar monsterHpBar" style="width: 100%;"></div>

				{{i18n 'monster' 'hp'}} {{Session 'monster.hpCurrent' format="number"}} / {{Session 'monster.hpMax' format="number"}}
			</div>
		</div>
	</div>

	<div id="combatStatsWrapper">
		<div class="combatStatsLine">
			Herohitchance: {{Session 'hitChance' format="percent"}}
		</div>
		<div class="combatStatsLine">
			Monsterhitchance: {{Session 'monsterHitChance' format="percent"}}
		</div>

		<div class="combatStatsLine">
			Critchance: {{Session 'critChance' format="percentNormalized"}}
		</div>
		<div class="combatStatsLine">
			Critdamage: {{Session 'critDamage' format="percentNormalized"}}
		</div>
		
		<div class="combatStatsLine">
			{{Session 'hero.aspd'}} attacks at once
		</div>
		<div class="combatStatsLine">
			{{format damage format="number"}} attackdamage
		</div>
	</div>
</template>