<template name="settings">
	<div class="top-line settings">
		<div id="settings-top">
			{{i18n 'settings' 'toptext'}}
		</div>
		<div id="settings-descr">
			{{i18n 'settings' 'description'}}
		</div>
	</div>

	<div id="settings">

		{{#if Session 'settings.hasError'}}
			<div id="settings-error">
				{{#each errors}}
					<div class="settings-error-item">{{i18n 'settings' .}}</div>
				{{/each}}
			</div>
		{{/if}}

		{{#each Session 'settings.success'}}
			<div class="settings-success-item"> {{i18n 'settings' .}}</div>
		{{/each}}

		<div id="settings-form">
			
			<div class="settings-input-item">
				<div class="settings-input-item-label">
					{{i18n 'settings' 'name'}}
				</div>
				<div class="settings-input-item-input">
					<input id="settings-name" type="text" value="{{player.name}}"/>
				</div>
			</div>

			<div class="settings-input-item">
				<div class="settings-input-item-label">
					{{i18n 'settings' 'gender'}}
				</div>
				<div class="settings-input-item-input">
					<label>
						<input type="radio" id="settings-male" name="settings-gender" {{genderIsChecked 'm'}} value="m"> 
						{{i18n 'settings' 'male'}}
					</label>
					<label>
						<input type="radio" id="settings-female" name="settings-gender" {{genderIsChecked 'f'}} value="f"> 
						{{i18n 'settings' 'female'}}
					</label>
				</div>
			</div>
			
			<div class="settings-input-item">
				<div class="settings-input-item-label">
					{{i18n 'settings' 'disableOfflineProgress'}}
				</div>
				<div class="settings-input-item-input">
					<input id="settings-disableOfflineProgress" type="checkbox" {{disableOfflineProgressChecked}}/>
				</div>
			</div>


			<div class="settings-input-item">
				<div class="settings-input-item-label">
					{{i18n 'settings' 'email'}}
				</div>
				<div class="settings-input-item-input">
					<input id="settings-email" type="email" value="{{player.email}}"/>
				</div>
			</div>

			<button id="settings-submit">{{i18n 'settings' 'update'}}</button>
		</div>
	</div>
</template>