<template name="shop">
	<div id="updateCounter" class="top-line">
		{{i18n 'shop' 'refresh'}} 

		<span class="green-text">{{SessionAmplify 'nextStockUpdate' format="ms"}}</span>
		<br />
		<button id="buyStockRefresh" {{buyReshreshDisabled}}>
			{{i18n 'shop' 'buyrefresh' cost=stockRefreshCost formatHash='cost|number'}}
		</button>
	</div>


	<div id="shopList">
		{{#each shopItems}}
			<div class="shopItem {{type}}">
				<div class="itemName">
					{{generateItemName .}}
				</div>
				<div class="itemStats">
					{{#each obj2array effects}}
						<div class="itemStat">
							{{i18n 'effects' key value=value formatHash='value|number'}}
						</div>
					{{/each}}
				</div>
				
				<div class="itemStatChanges">
					{{{itemDamageChange . format="colornumber"}}}
					{{i18n 'item' 'damage'}} | 
					{{{itemEhpChange . format="colornumber"}}} 
					{{i18n 'item' 'ehp'}}
				</div>

				<button class="buyItem" {{buyItemDisabled}}>
					{{i18n 'shop' 'buy' cost=cost formatHash='cost|number'}}
				</button>
			</div>
		{{/each}}

		{{#if Session 'shop.comparetype'}}
			{{> compareitem}}
		{{/if}}
	</div>
</template>

<template name="compareitem">
	{{#if equipped}}
		<div id="compareItem" class="shopItem {{equipped.type}}">
				{{i18n 'shop' 'equipped'}}
			<div class="itemName">
				{{generateItemName equipped}}
			</div>
			<div class="itemStats">
				{{#each obj2array equipped.effects}}
					<div class="itemStat">
						{{i18n 'effects' key value=value formatHash='value|number'}}
					</div>
				{{/each}}
			</div>
		</div>
	{{/if}}
</template>