<template name="sidebar">
	<div id="languageselector">
		<select id="languageSelect">
			<option value="de_DE" {{languageIsSelected 'de_DE'}}>Deutsch</option>
			<option value="en_GB" {{languageIsSelected 'en_GB'}}>English</option>
		</select>
	</div>
	<div class="sidebar-sizes">
		<div class="sidebar-stats-title">{{i18n 'sidebar' 'title'}}</div>

		<div class="sidebar-stat-wrapper">
			<span class="sidebar-stat-label">{{i18n 'sidebar' 'level'}}</span>

			<span class="sidebar-stat-value">{{SessionAmplify 'hero.level' format="number"}}</span>
		</div>
		
		<div class="sidebar-stat-wrapper">
			<span class="sidebar-stat-label">{{i18n 'sidebar' 'gold'}}</span>

			<span class="sidebar-stat-value">{{SessionAmplify 'hero.gold' format="number"}}</span>
		</div>

		<div class="sidebar-stat-wrapper">
			<span class="sidebar-stat-label">{{i18n 'sidebar' 'hp'}}</span>

			<span class="sidebar-stat-value">{{Session 'hero.hpCurrent' format="number"}} / {{Session 'hero.hpMax' format="number"}}</span>
		</div>

		<div class="sidebar-stat-wrapper">
			<span class="sidebar-stat-label">{{i18n 'sidebar' 'damage'}}</span>

			<span class="sidebar-stat-value">{{Session 'hero.damage' format="number"}}</span>
		</div>

		<div class="sidebar-stat-wrapper">
			<span class="sidebar-stat-label">{{i18n 'sidebar' 'ehp'}}</span>

			<span class="sidebar-stat-value">{{Session 'hero.ehp' format="number"}}</span>
		</div>

		<div class="sidebar-stat-wrapper">
			<span class="sidebar-stat-label">{{i18n 'sidebar' 'aspd'}}</span>

			<span class="sidebar-stat-value">{{Session 'hero.aspd' format="number"}}</span>
		</div>
		
		<div class="sidebar-stat-wrapper full-width">
			<div id="playerExpBar" class="barContainer">
				<div class="bar expBar"></div>
					
				<span class="sidebar-exp-title">{{i18n 'sidebar' 'exp'}} {{SessionAmplify 'hero.exp' format="number"}}/100</span>
			</div>
		</div>
	</div>
</template>