<template name="tavern">
	<div class="top-line">
		<div class="tavern-title">awesome tavern !</div>
	</div>

	<div id="tavern">
		{{> quest}}


		{{> potions}}
	</div>
</template>

<template name="potions">

	<div id="dawdler">
		<h1>{{{i18n 'tavern' 'potionsLabel'}}}</h1>

		{{{i18n 'tavern' 'potionsText'}}}

		<br />
		<input id="buyEffectNumber" type="number" value="{{Session 'selectedNumber'}}" />

		<select id="buyEffectSelect">
			{{#each obj2array effectPricesMultiplier}}
				<option value={{key}} {{effectSelected key}}>
					{{key}}
				</option>
			{{/each}}
		</select>


		<button id="buyEffect" {{effectBuyDisabled}}>
			{{i18n 'tavern' 'buyEffect' gold=selectedPrice formatHash="gold|number"}}
		</button>
	</div>
</template>