<template name="quest">
	<div id="peasants">
		<h1>{{i18n 'tavern' 'questLabel'}}</h1>
		<div id="questreward">
			{{{i18n 'tavern' 'questReward'}}}
			<strong>
			{{i18n 'tavern' 'gold' gold=questGain.gold formatHash="gold|number"}}
			{{format questGain.exp format='exp'}}
			</strong>
		</div>
		{{#if hasQuest}}
			<div class="barContainer">
				<div class="bar questBar" style="width: {{questProgress}}%;"></div>
				<span class="sidebar-exp-title">
				{{quest.name}} - 
				{{format quest.duration format="ms"}} - 
				{{format questProgress format="number"}}%
				{{#if questRemaining}} - {{i18n 'tavern' 'remaining' time=questRemaining formatHash="time|ms"}}{{/if}}
				</span>
			</div>

			{{#if SessionAmplify 'quest.success'}}
				<button id="receiveQuestReward" >
					{{i18n 'tavern' 'receiveQuestReward'}}
				</button>
			{{else}}
				<button id="receiveQuestReward" disabled="disabled">
					{{i18n 'tavern' 'receiveQuestReward'}}
				</button>
				<button id="cancelQuest">
					{{i18n 'tavern' 'cancelQuest'}}
				</button>
			{{/if}}
		{{else}}
			{{i18n 'tavern' 'questDurationSelectLabel'}}
			<select id="questDurationSelect">
				{{#each arr2array questDurations}}
					<option value="{{value}}" {{lastAcceptedQuestSelected value}}>
						{{format value format="ms"}}
					</option>
				{{/each}}
			</select>

			<button id="acceptQuest">
				{{i18n 'tavern' 'acceptQuest'}}
			</button>
		{{/if}}
	</div>
</template>