.combatChoice {
	display: block;
	width: 50%;
	float: left;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	font-weight: 100;
	height: 20px;
	padding-top: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.combatChoice:hover {
	text-shadow: #666 0 0 2px;
}

.combatChoice.active {
	text-shadow: #333 0 0 1px;
	background: -webkit-linear-gradient(white, #ddd); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #ddd); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #ddd); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #ddd); /* Standard syntax (must be last) */
}