.top-line.contact {
	max-height: 60px;
}

#contact {
	width: 400px;
	margin: 20px 50px 0 50px;
}

#contact-top {
	width: 400px;
	margin: 0 50px;
	padding-top: 5px;
}

#contact-descr {
	text-align: right;
	width: 400px;
	margin: 0 50px;
	font-size: 13px;
	display: inline-block;
	padding-bottom: 5px;
}

#contact-form {
	background-color: white;
	padding: 10px;
	-webkit-box-shadow: 0 8px 14px -6px black;
	-moz-box-shadow: 0 8px 14px -6px black;
	box-shadow: 0 8px 14px -6px black;
	display: inline-block;
	width: 380px;
}

.contact-input-item {
	margin-bottom: 10px;
	width: 380px;
	display: block;
}

.contact-input-item-label {
	margin-bottom: 5px;
	text-shadow: #555 0 0 1px;
}

.contact-input-item-input {
}


#contact-text {
	height: 200px;
	width: 380px;
	box-sizing: border-box;
}

#contact-submit {
	float: right;
}

#contact-error {
	color: #E02424;
	padding: 10px;
	border: 1px #E02424 dotted;
	margin-bottom: 20px;
}

.contact-error-item {

}

.contact-success-item {
	padding: 10px;
	border: 1px green dotted;
	margin-bottom: 20px;
	background: white;
}