#nextMonster, #prevMonster {
	position: absolute;
	cursor: pointer;
	line-height: 28px;
	text-shadow: #333 0 0 1px;
	font-size: 27px;
	padding: 0 5px;
}

#prevMonster {
	left: 10%;
}

#nextMonster {
	right: 10%;
}

#seeking {
	position: relative;
	background: green;
	line-height: 28px;
	text-align: center;
	margin: 20px auto;
	width: 400px;
}

#seekMonster {
	display: inline-block;
	cursor: pointer;
}

#dungeon {
	margin: 0 auto;
	width: 448px;
	border: 2px solid black;
}

#dungeonTilesWrapper {
	position: relative;
}

#dungeonTilesTable {
	border-spacing: 0px;
}

.dungeonTile {
	padding: 0px;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
}
.dungeonTile.tile-empty {
	
}
.dungeonTile.tile-monster {
	background-size:contain;
}
.dungeonTile.tile-finish {
	background: green;
}
.dungeonTile.tile-wall {
	background: black;
}

#heroTile {
	width: 32px;
	height: 32px;
	top: 0px;
	left: 0px;
	position: absolute;
	box-sizing: border-box;
	background-size:contain;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: green 0px 0px 10px 0px;
}