/**************/
/***inventar***/
/**************/

.inventarFilterChoice {
	display: block;
	float: left;
	width: 33%;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: 100;
	height: 25px;
	padding-top: 5px;
}

.inventarFilterChoice:hover {
	text-shadow: #666 0 0 2px;
}

.inventarFilterChoice.active {
	text-shadow: #333 0 0 1px;
	background: -webkit-linear-gradient(white, #ddd); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #ddd); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #ddd); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #ddd); /* Standard syntax (must be last) */
}

#equipmentList{
	height: 100px;
}

#inventarList{
	height: 480px;
	overflow-y: auto;
}

.inventarline {
	margin-top: 18px;
	margin-bottom: 0;
}