html, body, div, span, a, img {
	padding: 0;
	margin: 0;
	border: 0;
}
html, body {
	min-width: 640px;
	font-family: Helvetica,Helv;
	font-size: 14px;
	height: 680px;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0 0 10px 0;
	font-weight: 100;
	text-shadow: 0 0 1px #333;
	font-size: 18px;
}

#wrapper {
	width: 100%;
	background: #eee;
	height: 680px;
}


.top-line {
	background: white;
	-webkit-box-shadow: 3px 8px 5px -7px rgb(136, 136, 136);
	-moz-box-shadow: 3px 8px 5px -7px rgb(136, 136, 136);
	box-shadow: 3px 8px 5px -7px rgb(136, 136, 136);
	min-height: 30px;
	max-height: 30px;
	font-size: 18px;
}

.unselectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#content{
	position: relative;
	float: left;
	width: 70%;
	height: 630px;
	overflow-y: auto;
}

.barContainer {
	position: relative;
	overflow: hidden;
	z-index: 2;
	background: #888;
	margin: 5px 0px 20px 0px;
	padding: 5px 10px;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	background: green;
}

.green-text {
	color: green;
}

.numbercolor.pos {
	color: green;
	text-shadow: #333 0 0 1px;
}

.numbercolor.neg {
	color: red;
	text-shadow: #333 0 0 1px;
}

.numbercolor.eq {
	color: black;
}

/**flaoting messages**/

.floatingMessage {
	z-index: 1000;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
	font-weight: bold;
	pointer-events: none;
}
#floatingMessagesParent {
	overflow: hidden;
}

.criticalDamageMessage {
	color: red;
}

.playerDeathMessage {
	color: red;
}

.levelUpMessage {
	color: green;
}

