/**************/
/*****menu*****/
/**************/

.menu{
	clear: both;
	width: 100%;
	height: 25px;
	background: #000;
}

.menu-entry {
	display: block;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	width: 25%;
	background: #000;
	color: #fff;
	height: 19px;
	padding: 3px 0;
}

.menu-entry:hover {
	text-shadow: #ccc 0px 0px 2px;
}

.menu-entry.active {
	text-shadow: #fff 0px 0px 2px;
}

/****header****/

.menu.header {
}

.menu-entry.header {
	float: left;
}

.menu-entry.header.active {
	background: -webkit-linear-gradient(black, #555); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black, #555); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, #555); /* For Firefox 3.6 to 15 */
	background: linear-gradient(black, #555); /* Standard syntax (must be last) */
}

/****footer****/

.menu.footer {
	background: #000;
}

.menu-entry.footer {
	float: right;
}

.menu-entry.footer.active {
	background: -webkit-linear-gradient(#555, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#555, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#555, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#555, black); /* Standard syntax (must be last) */
}