/***************/
/*message alert*/
/***************/
#messageAlert {
	z-index: 1000;
	position: fixed;
	height: 100%;
	width: 100%;
}

#messageAlert-overlay {
	background-color: #000;
	position: fixed;
	opacity:0.4;
	top: 0;
	height: 100%;
	width: 100%;
}

#messageAlert-box {
	background-color: #fff;
	position: fixed;
	margin: 60px;
	top: 0;
	left: 0;
	padding: 30px;
	box-sizing: border-box;
	width: 600px;
	min-height: 150px;
	max-height: 550px;
	-webkit-box-shadow: 0 8px 14px -6px black;
	-moz-box-shadow: 0 8px 14px -6px black;
	box-shadow: 0 8px 14px -6px black;

}

#messageAlert-close {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	box-sizing: border-box;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
}

#messageAlert-close:hover {
	text-shadow: #555 0 0 1px;
}

/***************/
/*message notice*/
/***************/
#messageNotice {
	z-index: 1000;
	position: fixed;
	height: 100%;
	width: 100%;
}

#messageNotice-box {
	background-color: #fff;
	position: fixed;
	bottom: 50px;
	right: 5px;
	padding: 10px;
	box-sizing: border-box;
	width: 210px;
	min-height: 50px;
	max-height: 300px;	
	-webkit-box-shadow: 0 8px 14px -6px black;
	-moz-box-shadow: 0 8px 14px -6px black;
	box-shadow: 0 8px 14px -6px black;

}

/***************/
/*message blender*/
/***************/
#messageBlender {
	z-index: 1000;
	position: fixed;
	height: 100%;
	width: 100%;
}

#messageBlender-close {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	box-sizing: border-box;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
}

#messageBlender-box {
	background-color: #fff;
	position: fixed;
	top: 100px;
	left: 15px;
	padding: 30px;
	box-sizing: border-box;
	width: 474px;
	min-height: 150px;
	max-height: 550px;
	-webkit-box-shadow: 0 8px 14px -6px black;
	-moz-box-shadow: 0 8px 14px -6px black;
	box-shadow: 0 8px 14px -6px black;

}