.bar.monsterHpBar {
	background-color: #E02424;
}

#playerMonsterWrapper {
	margin: 20px auto;
	width: 440px;
	height: 270px;
}

#combatStatsWrapper {
	margin: 20px auto;
	width: 440px;
	height: 180px;
}
.combatStatsLine {
	width: 50%;
	float: left;
}

.avatar{
	padding-top: 200px;
	width: 200px;
	background-color: transparent;
	background-position: center top;
	background-repeat: no-repeat;
}

.avatar-name{
	text-shadow: #555 0 0 1px;
}


#player {
	float: left;
}

#monster {
	cursor: pointer;
	float: right;
}

#monsterinfo {
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	padding: 2px;
	font-weight: 400;
	letter-spacing: 1px;
	text-shadow: #333 0 0 1px;
	text-align: center;
}

.monsterinfo-name {
	margin: 0 0 0 5px;
}