
#updateCounter {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	text-shadow: #333 0 0 1px;
	line-height: 30px;
	max-height: 66px;
}

#buyStockRefresh {
	width: auto;
	padding: 2px 10px;
}

.shopItem {
	margin: 20px auto;
	width: 250px;
	text-align: center;
	-webkit-box-shadow: 3px 8px 5px -7px rgb(136, 136, 136);
	-moz-box-shadow: 3px 8px 5px -7px rgb(136, 136, 136);
	box-shadow: 3px 8px 5px -7px rgb(136, 136, 136);
	padding: 7px 0 7px 60px;
}

.shopItem.weapon {
	background: url('/itemTypes/weapon.png') no-repeat 10px center white;
}

.shopItem.armour {
	background: url('/itemTypes/armour.png') no-repeat 10px center white;
}

.shopItem.accessory {
	background: url('/itemTypes/accessory.png') no-repeat 10px center white;
}

#shopList {
	height: 568px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 1px;
	position: relative;
}

.itemName {
	text-shadow: #555 0 0 1px;
	margin-bottom: 5px;
}

.itemStats {
	font-size: 13px;
}

#compareItem {
	position: fixed;
	display: none;
	top: 0;
	left: 405px;
	z-index: 50;
	border: #333 1px dotted;
}

#compareItem .itemName{
	margin-top: 5px;
}