/**************/
/***sidebar****/
/**************/

#sidebar{
	float: right;
	width: 30%;
	height: auto;
	background: #fff;
	-webkit-box-shadow: 0 8px 14px -6px black;
	-moz-box-shadow: 0 8px 14px -6px black;
	box-shadow: 0 8px 14px -6px black;
}

.sidebar-sizes {
	padding: 22px 20px 0px 20px;
}

.sidebar-stats-title {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	text-shadow: #333 0 0 1px;
	letter-spacing: 1px;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.sidebar-stat-wrapper {
	width: 100%;
	display: block;
	min-width: 120px;
	max-width: 170px;
	float: left;
	margin-right: 2%;
	margin-bottom: 5px;
	white-space: nowrap;
}

.sidebar-stat-wrapper.full-width {
	margin-right: 0;
	max-width: 350px;
	overflow: hidden;
}

.sidebar-left {
	float: left;
}

.sidebar-right {
	float: right;
}

.sidebar-stat-label {
	font-weight: 100;
	text-shadow: #555 0px 0px 1px;
	float: left;
	display: block;
}

.sidebar-stat-value {
	float: right;
	display: block;
}

.sidebar-exp-title {
	margin: 0 auto;
	font-weight: 400;
	text-shadow: #555 0px 0px 1px;
}

#languageselector {
	float: right;
	display: inline-block;
}