

#tavern {
	margin: 0 auto;
	padding: 10px;
}

.tavern-title {
	text-align: center;
	line-height: 28px;
	font-weight: bold;
}

#dawdler {
	background-color: #fff;
	width: 450px;
	margin: 20px auto 0;
	padding: 30px;
	box-sizing: border-box;
}

#peasants {
	background-color: #fff;
	width: 450px;
	margin: 10px auto 0;
	padding: 30px;
	box-sizing: border-box;
}