<template name="message">
	{{> messageAlert}}
	{{> messageNotice}}
	{{> messageBlender}}
</template>

<template name="messageAlert">
	{{#if messageTemplate}}
		<div id="messageAlert"> 
			<div id="messageAlert-overlay"> </div>
			<div id="messageAlert-box"> 
				<div id="messageAlert-close">X</div>
				<div id="messageAlert-content">
					{{> messageTemplate}}
				</div>
			</div>
		</div>
	{{/if}}
</template>

<template name="messageNotice">
	{{#if messageTemplate}}
		<div id="messageNotice"> 
			<div id="messageNotice-box"> 
				<div id="messageNotice-content">
					{{> messageTemplate}}
				</div>
			</div>
		</div>
	{{/if}}
</template>

<template name="messageBlender">
	{{#if messageTemplate}}
		<div id="messageBlender"> 
			<div id="messageBlender-box"> 
				<div id="messageAlert-close">X</div>
				<div id="messageBlender-content">
					{{> messageTemplate}}
				</div>
			</div>
		</div>
	{{/if}}
</template>