<template name="dungeonReward">
	<div id="dungeonReward">
		{{i18n 'message' 'dungeonCompleteMessage' levelUps=data.levelUps goldGain=data.goldGain formatHash='levelUps|number,goldGain|number'}}
	</div>
</template>