<template name="message-text">
	<div id="message-text">
		{{{i18n 'message' data.text}}}
	</div>
</template>

<template name="newdungeon">
	<div id="newdungeon">
		{{{i18n 'message' 'newdungeon' level=data.level}}}
	</div>
</template>