<template name="welcomeBack">
	<div id="welcomeBack">
		{{i18n 'message' 'welcomeBackMessage' timeDiff=data.timeDiff levelUps=data.levelUps goldGain=data.goldGain formatHash='timeDiff|ms,levelUps|number,goldGain|number'}}
	</div>
</template>
